<% include ./partials/header %> 

<!-- <form action="/login" method="POST">
	<input type="text" name="username" placeholder="USN" onkeyup="this.value = this.value.toUpperCase();">
	<input name="password" placeholder="password" type="password">
	<button>Login</button>
</form>
 -->
<div class="row">
	  <h1 style="margin: auto">LOGIN</h1>
</div>
<div class="row">
    <div style="width: 30%; margin: 25px auto;">
        <form action="/login" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="USN" onkeyup="this.value = this.value.toUpperCase();">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">LOGIN</button>
            </div>
        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
</div>